{% extends "layout.html" %}
{% block content %}
    {% if producer %}
        <div class="container align-items-center movie-details bg-dark text-white">
            <div class="row d-flex justify-content-between w-100 p-3">
                <div class="col-md-6 ">
                    <h1>{{ producer.name.capitalize }}</h1>
                    <div class="d-flex flex-column mb-3">
                        <div class="person-info">
                            <p>City: {{ producer.city }}</p>
                            <p>Country: {{ producer.country }}</p>
                            <p><i class="bi bi-twitter"></i> Twitter: {{ producer.twitterAccount }}</p>
                            <p><i class="bi bi-instagram"></i> Instagram: {{ producer.instagramAccount }}</p>
                            <p>Website: <a href="{{ producer.website }}">{{ producer.website }}</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{{ producer.imageField }}" class="movie-image">
                </div>
                {% if group == "admin" %}
                    <div class="row w-25">
                        <div class="col">
                            <a class="btn" href="/edit/producer/{{ producer.id }}" role="button">
                                <i class="bi bi-pencil-fill icon-info"></i>
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn" href="/delete/producer/{{ producer.id }}" role="button" onclick="return confirm('Are you sure you want to delete {{ producer }}?');">
                                <i class="bi bi-trash-fill icon-info"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}

            </div>
            {% elif person %}
            <div class="container align-items-center movie-details bg-dark text-white">
                <div class="row d-flex justify-content-between w-100 p-3">
                    <div class="col-md-6 ">
                        <h1>{{ person.name }}</h1>
                        <div class="d-flex flex-column mb-3">
                            <div class="person-info">
                                <p>Birthdate: {{ person.birthdate }}</p>
                                <p><i class="bi bi-twitter"></i> Twitter: {{ person.twitterAccount }}</p>
                                <p><i class="bi bi-instagram"></i> Instagram: {{ person.instagramAccount }}</p>
                                {% if person.years_active %}
                                    <p>Years Active: {{ person.years_active }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ person.imageField }}" class="person-image">
                    </div>
                    {% if group == "admin" %}
                        <div class="row w-25">
                            <div class="col">
                                {% if person.years_active %}
                                    <a class="btn" href="/edit/actor/{{ person.id }}" role="button">
                                        <i class="bi bi-pencil-fill icon-info"></i>
                                    </a>
                                {% else %}
                                    <a class="btn" href="/edit/director/{{ person.id }}" role="button">
                                        <i class="bi bi-pencil-fill icon-info"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col">
                                {% if person.years_active %}
                                    <a class="btn" href="/delete/actor/{{ person.id }}" role="button" onclick="return confirm('Are you sure you want to delete {{ person }}?');">
                                        <i class="bi bi-trash-fill icon-info"></i>
                                    </a>
                                {% else %}
                                    <a class="btn" href="/delete/director/{{ person.id }}" role="button" onclick="return confirm('Are you sure you want to delete {{ person }}?');">
                                        <i class="bi bi-trash-fill icon-info"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                </div>
                {% elif movie %}
                <div class="container align-items-center movie-details bg-dark text-white">
                    <div class="row d-flex justify-content-between w-100 p-3">
                        <div class="col-md-6 ">
                            <h1 style="text-transform: uppercase">{{ movie.title }}</h1>
                            <p>{{ movie.description }}</p>
                            <p>Published: {{ movie.published_date }}</p>
                            <div class="d-flex flex-column mb-3">
                                <div class="casting">
                                    <p>Cast: </p>
                                    {% for actor in movie.cast.all %}
                                        <a href="/actor/{{ actor.id }}"><img src="{{ actor.imageField }}"
                                                                             title="{{ actor.name }}"></a>
                                    {% endfor %}
                                    <p>Director: </p>
                                    {% for director in movie.director.all %}
                                        <a href="/director/{{ director.id }}"><img src="{{ director.imageField }}"
                                                                                   title="{{ director.name }}"></a>
                                    {% endfor %}
                                    <p>Producer: </p>
                                    {% for producer in movie.producer.all %}
                                        <a href="/producer/{{ producer.id }}"><img src="{{ producer.imageField }}"
                                                                                   title="{{ producer.name }}"></a>
                                    {% endfor %}
                                    <p>Genres: </p>
                                    {% for genre in movie.genre.all %}
                                        <h7>{{ genre }}</h7>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="{{ movie.imageField }}" class="movie-image">
                        </div>
                    </div>
                    {% if group == "admin" %}
                        <div class="row w-25">
                            <div class="col">
                                <a class="btn" href="/edit/movie/{{ movie.id }}" role="button">
                                    <i class="bi bi-pencil-fill icon-info"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a class="btn" href="/delete/movie/{{ movie.id }}" role="button" onclick="return confirm('Are you sure you want to delete {{ movie }}?');">
                                    <i class="bi bi-trash-fill icon-info"></i>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                            {% if movie not in profile.movies_watched.all %}
                                <form method="post" action="/movies/">
                                    {% csrf_token %}
                                    <input name="add_movie_watched" value={{ movie.id }} hidden>
                                    <button type="submit" class="btn"><i class="bi bi-eye icon"
                                                                         style="color: white"></i>
                                    </button>
                                </form>
                            {% else %}
                                <form method="post" action="/movies/">
                                    {% csrf_token %}
                                    <input name="remove_movie_watched" value={{ movie.id }} hidden>
                                    <button type="submit" class="btn"><i class="bi bi-eye-fill icon"
                                                                         style="color: white"></i>
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                            {% if movie not in profile.want_to_watch.all %}
                                <form method="post" action="/movies/">
                                    {% csrf_token %}
                                    <input name="add_want_to_watch" value={{ movie.id }} hidden>
                                    <button type="submit" class="btn"><i class="bi bi-plus-circle icon"
                                                                         style="color: white"></i>
                                    </button>
                                </form>
                            {% else %}
                                <form method="post" action="/movies/">
                                    {% csrf_token %}
                                    <input name="remove_want_to_watch" value={{ movie.id }} hidden>
                                    <button type="submit" class="btn"><i
                                            class="bi bi-plus-circle-fill icon" style="color: white"></i></button>
                                </form>
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                            {% if movie not in profile.favorite_movies.all %}
                                <form method="post" action="/movies/">
                                    {% csrf_token %}
                                    <input name="add_favorite_movies" value={{ movie.id }} hidden>
                                    <button type="submit" class="btn"><i class="bi bi-heart icon"
                                                                         style="color: white"></i>
                                    </button>
                                </form>
                            {% else %}
                                <form method="post" action="/movies/">
                                    {% csrf_token %}
                                    <input name="remove_favorite_movies" value={{ movie.id }} hidden>
                                    <button type="submit" class="btn"><i class="bi bi-heart-fill icon"
                                                                         style="color: white"></i>
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% else %}
    {% endif %}
{% endblock %}