{% extends "layout.html" %}
{% block content %}
    {% if producer %}
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 mt-5 pt-5">
                <div class="row z-depth-3">
                    <div class="col-sm-4 bg-info rounded-left">
                        <div class="card-block text-center text-white">
                            <i class="bi bi-building" style="font-size: 100px;"></i>
                            <h2 class="font-weight-bold mt-4">{{ producer.name }}</h2>
                            <p>Producer</p>
                            <a href="{{ producer.website }}">{{ producer.website }}</a>
                        </div>
                    </div>
                    <div class="col-sm-8 bg-white rounded-right">
                        <h3 class="mt-3 text-center">Information</h3>
                        <hr class="badge-primary mt-0 w-50" style="margin-left: auto;margin-right: auto">
                        <div class="row ">
                            <div class="col-sm-6">
                                <p class="font-weight-bold">Country</p>
                                <h6 class="text-muted">{{ producer.country }}</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="font-weight-bold">City</p>
                                <h6 class="text-muted">{{ producer.city }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% elif person %}
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 mt-5 pt-5">
                <div class="row z-depth-3">
                    <div class="col-sm-4 bg-info rounded-left">
                        <div class="card-block text-center text-white">
                            <i class="bi bi-person-square" style="font-size: 100px;"></i>
                            <h2 class="font-weight-bold mt-4">{{ person.name }}</h2>
                            {% if person.years_active %}
                                <p>Actor</p>
                            {% else %}
                                <p>Director</p>
                            {% endif %}
                            {% if person.website %}
                                <a href="{{ producer.website }}">{{ producer.website }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-8 bg-white rounded-right">
                        <h3 class="mt-3 text-center">Information</h3>
                        <hr class="badge-primary mt-0 w-50" style="margin-left: auto;margin-right: auto">
                        <div class="row ">
                            <div class="col-sm-6">
                                <p class="font-weight-bold">Birthdate</p>
                                <h6 class="text-muted">{{ person.birthdate }}</h6>
                            </div>
                            {% if person.years_active %}

                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Years Active</p>
                                    <h6 class="text-muted">{{ person.years_active }}</h6>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% elif movie %}
        <div class="row d-flex justify-content-center">
        <div class="col-md-10 mt-5 pt-5">
            <div class="row z-depth-3">
                <div class="col-sm-4 bg-info rounded-left">
                    <div class="card-block text-center text-white">
                        <i class="bi bi-film" style="font-size: 100px"></i>
                        <h2 class="font-weight-bold mt-4">{{ movie.title }}</h2>
                        <p>Movie</p>
                        {% for producer in movie.producer.all %}
                            <a href="/producer/{{ producer.id }}">{{ producer }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-8 bg-white rounded-right">
                    <h3 class="mt-3 text-center">Information</h3>
                    <hr class="badge-primary mt-0 w-50" style="margin-left: auto;margin-right: auto">
                    <div class="row ">
                        <div class="col-sm-6">
                            <p class="font-weight-bold">Description</p>
                            <h6 class="text-muted">{{ movie.description }}</h6>
                        </div>
                        <div class="col-sm-6">
                            <p class="font-weight-bold">Actors</p>
                            {% for actor in movie.cast.all %}
                                <h6 class="text-muted">{{ actor.name }}</h6>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Ni puto caso</h1>
    {% endif %}
{% endblock %}