{% extends "layout.html" %}
{% block content %}
    {% if actor %}
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 mt-5 pt-5">
                    <div class="row z-depth-3">
                        <div class="col-sm-4 bg-info rounded-left">
                            <div class="card-block text-center text-white">
                                <h2 class="font-weight-bold mt-4">{{ actor.name }}</h2>
                                <p>Actor</p>
                            </div>
                        </div>
                        <div class="col-sm-8 bg-white rounded-right">
                            <h3 class="mt-3 text-center">Information</h3>
                            <hr class="badge-primary mt-0 w-50" style="margin-left: auto;margin-right: auto">
                            <div class="row ">
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Birthdate</p>
                                    <h6 class="text-muted">{{ actor.birthdate }}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">City</p>
                                    <h6 class="text-muted">{{ actor.years_active }}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="font-weight-bold">Nationality</p>
                                    <h6 class="text-muted">{{ actor.nationality }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    {% endif %}
{% endblock %}