{% extends "layout.html" %}

{% block content %}

    {% load static %}

    <div class="container">
        <h3>{{ person_role }}</h3>
        <div class="row row-cols-2 justify-content-between">
            {% for person in person_list %}
                <div class="col">
                    <div class="card mb-4 my_class card-shadow">
                        {% if person_role == 'ACTORS' %}
                            <a href="/actor/{{ person.id }}" style="color:inherit;text-decoration: none">
                        {% elif person_role == 'PRODUCERS' %}
                            <a href="/producer/{{ person.id }}" style="color:inherit;text-decoration: none">
                        {% elif person_role == 'DIRECTORS' %}
                            <a href="/director/{{ person.id }}" style="color:inherit;text-decoration: none">
                        {% endif %}
                        <div class="row">
                            <div class="col-sm-2">
                                <img width="143" height="210" class="card-img my_class" src="{{ person.imageField }}" alt="Actor Card">
                            </div>
                            <div class="col-sm-10 border-right">
                                <div class="card-body">
                                    <h5 class="card-title"> {{ person.name }}</h5>
                                    <p class="card-text">{{ person.website }}</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container p-4">
        <div class="pagination justify-content-center">
            <span class="step-links">
              {% if person_list.has_previous %}
                  <button type="button" class="btn btn-outline-dark"><a href="?page=1">&laquo; first</a></button>
                  <button type="button" class="btn btn-outline-dark"><a href="?page={{ person_list.previous_page_number }}">previous</a></button>
              {% endif %}

                <span class="current">
                    Page {{ person_list.number }} of {{ person_list.paginator.num_pages }}
                </span>

              {% if person_list.has_next %}
                  <button type="button" class="btn btn-outline-dark"><a href="?page={{ person_list.next_page_number }}">next</a></button>
                  <button type="button" class="btn btn-outline-dark"><a href="?page={{ person_list.paginator.num_pages }}">last &raquo;</a></button>
              {% endif %}
            </span>
            </div>
        </div>
    </div>

{% endblock %}