{% extends "layout.html" %}

{% block content %}

{% load static %}

<div class="container">
    <div>
         <label for="genre">Genre:</label>
        <select name="genre" id="genre">
              {% comment %}
              <form action="." method="post">
              {% for genre in genre_list %}
                    <option value="/movies/" name=genre>{{ genre.name }}</option>
              {% endfor %}
              </form>
              {% endcomment %}
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
</select>
    </div>
	<div class="card-deck">
		{% comment %} {% for movie in movie_list %}
			<div class="col-auto mb-4">
				<div class="card card-movie" style="width: 18rem;">
					<img class="card-img-top img-movie" src="{% static 'imgs/movie.jpg' %}"  alt="Card image cap" />
					<div class="card-body">
						<h5 class="card-title text-center title-movie">{{ movie.title }}</h5>
						<p class="card-text description-movie">
							{{ movie.description }}
						</p>
					</div>
						<div class="card-footer">
						<small class="text-muted genres-movie">{{ movie.producer }}</small>
					</div>
				</div>
			</div>
		{% endfor %} {% endcomment %}
		<div class="col-auto mb-4">
			<div class="card card-movie" style="width: 18rem;">
				<img class="card-img-top img-movie" src="{% static 'imgs/movie.jpg' %}"  alt="Card image cap" />
				<div class="card-body">
					<h5 class="card-title text-center title-movie">Movie 1</h5>
					<p class="card-text description-movie">
						Movie 1 description.
					</p>
				</div>
					<div class="card-footer">
					<small class="text-muted genres-movie">Genres: </small>
				</div>
			</div>
		</div>
		
		<div class="col-auto mb-4">
			<div class="card card-movie" style="width: 18rem; ">
				<img class="card-img-top img-movie" src="{% static 'imgs/movie.jpg' %}" alt="Card image cap" />
				<div class="card-body">
					<h5 class="card-title text-center title-movie">Movie 2</h5>
					<p class="card-text description-movie">
						Movie 2 description.
					</p>
				</div>
					<div class="card-footer">
					<small class="text-muted genres-movie">Genres: </small>
				</div>
			</div>
		</div>

		<div class="col-auto mb-4">
			<div class="card card-movie" style="width: 18rem;">
				<img class="card-img-top img-movie" src="{% static 'imgs/movie.jpg' %}" alt="Card image cap" />
				<div class="card-body">
					<h5 class="card-title text-center title-movie">Movie 3</h5>
					<p class="card-text description-movie">
						Movie 3 description.
					</p>
				</div>
					<div class="card-footer">
					<small class="text-muted genres-movie">Genres: </small>
				</div>
			</div>
		</div>

		<div class="col-auto mb-4">
			<div class="card card-movie" style="width: 18rem;">
				<img class="card-img-top img-movie" src="{% static 'imgs/movie.jpg' %}" alt="Card image cap" />
				<div class="card-body">
					<h5 class="card-title text-center title-movie">Movie 4</h5>
					<p class="card-text description-movie">
						Movie 4 description.
					</p>
				</div>
					<div class="card-footer">
					<small class="text-muted genres-movie">Genres: </small>
				</div>
			</div>
		</div>

		<div class="col-auto mb-4">
			<div class="card card-movie" style="width: 18rem;">
				<img class="card-img-top img-movie" src="{% static 'imgs/movie.jpg' %}" alt="Card image cap" />
				<div class="card-body">
					<h5 class="card-title text-center title-movie">Movie 5</h5>
					<p class="card-text description-movie">
						Movie 5 description.
					</p>
				</div>
					<div class="card-footer">
					<small class="text-muted genres-movie">Genres: </small>
				</div>
			</div>
		</div>

		<div class="col-auto mb-4">
			<div class="card card-movie" style="width: 18rem;">
				<img class="card-img-top img-movie" src="{% static 'imgs/movie.jpg' %}" alt="Card image cap" />
				<div class="card-body">
					<h5 class="card-title text-center title-movie">Movie 6</h5>
					<p class="card-text description-movie">
						Movie 6 description.
					</p>
				</div>
					<div class="card-footer">
					<small class="text-muted genres-movie">Genres: </small>
				</div>
			</div>
		</div>

		<div class="col-auto mb-4">
			<div class="card card-movie" style="width: 18rem;">
				<img class="card-img-top img-movie" src="{% static 'imgs/movie.jpg' %}" alt="Card image cap" />
				<div class="card-body">
					<h5 class="card-title text-center title-movie">Movie 6</h5>
					<p class="card-text description-movie">
						Movie 6 description.
					</p>
				</div>
					<div class="card-footer">
					<small class="text-muted genres-movie">Genres: </small>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
