{% extends 'layout.html' %}

{% load static %}
{% load addclass %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="inner" style="background-color: #282828 !important;">
        <div class="pw-reset-image-holder">
            <img class="login-img" src="{% static 'imgs/movie.jpg' %}" alt="">
        </div>
        <form method="POST" class="main-form">
            {% csrf_token %}
            <h3>Password Reset</h3>
            {% for field in form %}
                <p>Please fill with the email address associated with your account:</p>
                <div class="form-holder">
                    {{ field|addclass:"form-control" }}
                </div>
            {% endfor %}
            <div class="form-pw-reset">
                <button class="signup-btn" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}