{% extends 'layout.html' %}

{% load static %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="inner" style="background-color: #282828 !important;">
        <div class="pw-reset-image-holder">
            <img class="login-img" src="{% static 'imgs/movie.jpg' %}" alt="">
        </div>
        <div class="main-form">
            {% csrf_token %}
            <h3>Password Reset Sent</h3>
            <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
            <p>If you don't receive an email, please make sure you entered the correct address and check your spam folder.</p>
            <div class="form-pw-reset">
                <a href="{% url 'home' %}"><button class="signup-btn" type="submit">Home -></button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}